.code-sample .tab-pane {
  padding-top: 20px;
}
/*   */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #333;
}
.main-nav ul i.fa {
  width: 1.5em;
}
.main-nav ul a {
  color: #fff;
}
.main-nav ul li {
  margin: 0;
  padding: 0;
}
.main-nav ul li.open {
  background: #555;
}
.main-nav ul li.open > a {
  background: #324053;
}
.main-nav ul li.open ul {
  display: block;
}
.main-nav ul a {
  display: block;
  padding: .8em 2em;
}
.main-nav ul ul {
  background: #364559;
  display: none;
}
.main-nav ul .secondary > li > a {
  color: #999;
}
.main-nav ul ul li a {
  padding-left: 3.8em !important;
}
.sidebar {
  text-align: center;
  background-color: #000;
  overflow: auto;
}
.sidebar .sidebar-top {
  margin: 0 2em;
}
.sidebar .sidebar-top img.logo {
  width: 100%;
}
.sidebar .sidebar-top input.search-field {
  padding: 10px 20px;
  border: none;
  background: #eee;
  font-size: 16px;
  outline-width: 0;
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;
}
.sidebar .sidebar-top input.search-field:focus {
  background: #fff;
}
.copyright {
  position: absolute;
  bottom: 5px;
  color: #ddd;
  text-align: center;
  width: 100%;
  font-size: .8rem;
}
.page {
  color: #51585E;
}
.page p {
  margin-bottom: 30px;
}
.page ul.text-list li {
  padding-left: 15px;
  margin: 0 0 10px 0;
}
.page section {
  margin-bottom: 40px;
}
.page .parameter h4 {
  color: #000099;
}
.supportedFileTypes td {
  padding: 8px 15px;
  border: 1px solid #eee;
}
.api-list div {
  position: relative;
  padding: 15px 0 15px 50px;
}
.api-list div h5 {
  color: #000099;
}
.api-list div span {
  position: absolute;
  left: 0px;
  font-size: 50px;
  color: #eee;
  top: 3px;
}
