 <div class=codeexample>
    <div class=tabs>
     <div id=tab1> <a href="#tab1">Ruby</a>
      <div> {{API.YAMLEXAMPLE}} </div>
     </div>

     <div id=tab2> <a href="#tab2">PHP</a>
      <div>... 30 lines of CSS is rather a lot, and...</div>
     </div>

     <div id=tab3> <a href="#tab3">Java</a>
      <div>... that 2 should have been enough, but...</div>
     </div>
     
     <div id=tab3> <a href="#tab3">C#</a>
      <div>... that 2 should have been enough, but...</div>
     </div>

     <div id=default2> <a href="#default2">Python</a>
      <div>... it works!</div>
     </div>
    </div>
   </div>
  </div>
