<div class="homeBanner">

    <div class="logo">
        <a href="/"><img src="/img/logo.png"></a>

    </div>
<div>
     Beta Documentation. See <a href="http://docs.smartling.com">docs.smartling.com</a> for current docs
  </div>
    <div class="searchBox">
        <form id="st-search-form">
        <input type="text" class="search-field st-default-search-input" placeholder="Search Docs..." data-sj-search-query data-sj-search-recent data-sj-maxresults="10" />
        </form>
    </div>

    <div class="menuButton"><i class="fa fa-bars"></i></div>

</div>