<link rel="stylesheet" href="{{site.baseurl}}public/css/FAPIMethods.css">

{% for FAPIMethod in site.data.FAPIMethods %} 
    {% if FAPIMethod.Method == {{page.method}}" %}

        {% for Parameter in FAPIMethod.Parameters%}
            <div class="parameter {% if Parameter.Required == "required" %}required{% else %}optional{% endif %}">
                <h4>{{Parameter.Name}} ({{Parameter.Required}})</h4>


                <p>{{Parameter.Description}}</p>
                <table class="table">
                {% for Value in Parameter.Values %}
                    <tr>
                        <th>{{Value.Value}}</th> <td>{{Value.Description}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}