<link rel="stylesheet" href="{{site.baseurl}}public/css/FAPICodeExamples.css">

{% for FAPIMethod in site.data.FAPIMethods %}
{% if FAPIMethod.Method == page.method %}
{% assign RubyGist = FAPIMethod.RubyGist %}
{% assign PHPGist = FAPIMethod.PHPGist %}
{% assign JavaGist = FAPIMethod.JavaGist %}
{% assign CsharpGist = FAPIMethod.CsharpGist %}
{% assign PythonGist = FAPIMethod.PythonGist %}
{% endif %}
{% endfor %}


<div class="tabpanel code-sample">

    <!--<ul class="nav nav-tabs" role="tablist">-->
        <!--<li role="presentation" class="active"><a href="#Ruby" data-toggle="tab">Ruby</a></li>-->
        <!--<li role="presentation"><a href="#PHP" data-toggle="tab">PHP</a></li>-->
        <!--<li role="presentation"><a href="#Java" data-toggle="tab">Java</a></li>-->
        <!--<li role="presentation"><a href="#Csharp" data-toggle="tab">C#</a></li>-->
        <!--<li role="presentation"><a href="#Python" data-toggle="tab">Python</a></li>-->
    <!--</ul>-->

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Ruby" data-toggle="tab">Ruby</a></li>
        <li role="presentation"><a href="#PHP" data-toggle="tab">PHP</a></li>
        <li role="presentation"><a href="#Java" data-toggle="tab">Java</a></li>
        <li role="presentation"><a href="#Csharp" data-toggle="tab">C#</a></li>
        <li role="presentation"><a href="#Python" data-toggle="tab">Python</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Ruby">
            <script src="https://gist.github.com/{{RubyGist}}.js"></script>
        </div>
        <div role="tabpanel" class="tab-pane" id="PHP">
            <script src="https://gist.github.com/{{PHPGist}}.js"></script>
        </div>
        <div role="tabpanel" class="tab-pane" id="Java">
            <script src="https://gist.github.com/{{JavaGist}}.js"></script>
        </div>
        <div role="tabpanel" class="tab-pane" id="Csharp">
            <script src="https://gist.github.com/{{CsharpGist}}.js"></script>
        </div>
        <div role="tabpanel" class="tab-pane" id="Python">
            <script src="https://gist.github.com/{{PythonGist}}.js"></script>
        </div>
    </div>
</div>