

<ul class="tabs">
    <li><a href="#Ruby">Ruby</a></li>
    <li><a href="#PHP">PHP</a></li>
    <li><a href="#Java">Java</a></li>
    <li><a href="#Csharp">C#</a></li>
    <li><a href="#Python">Python</a></li>
</ul>
<div class="tabcontents">
    <div id="Ruby">
        {% gist ce8e0a459fe5b84246b1 %}
    </div>
    <div id="PHP">
        {% gist c2fd4fcf80cbb732ad9e %}
    </div>
    <div id="Java">
        content 3
    </div>
    <div id="Csharp">
        content 4
    </div>
    <div id="Python">
        content 5
    </div>
</div>