

<div class="main-nav">
{% assign items = site.pages | sort:"weight"  %}
<ul>
        <li class="show-1"><a href="/">Home</a></li>
        <li class="show-1"><a href="/pages/API">API</a></li>
        <li>
            <ul> 
                <li class="{% if page.url contains "/pages/API" %}show-2{% else %}hide-2{% endif %}"><a href="/pages/API/FileAPI">File API</li>
                <li>
                    <ul>
                        {% for item in items %}
                            {% if item.url contains "/pages/API/FileAPI" and item.url != "/pages/API/FileAPI/index.html"%}
                        <li class="{% if page.url contains "/pages/API/FileAPI" %}show-3{% else %}hide-3{% endif %}"><a href="{{item.url}}">{{item.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
            </ul>
        </li>
        <li class="show-1"><a href="/pages/supported-file-types">Supported File Types</a></li>
        <li>
            <ul>
                {% for item in items %}
                    {% if item.url contains "/pages/supported-file-types" and item.url != "/pages/supported-file-types/index.html"%}
                <li class="{% if page.url contains "/pages/supported-file-types" %}show-2{% else %}hide-2{% endif %}"><a href="{{item.url}}">{{item.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
</ul>
</div>

