<div class="sidebar">
  <div>
    <div class="sidebar-about">
      <h1>
        <img src="https://raw.githubusercontent.com/smartlingtestdocs/smartlingtestdocs.github.io/master/Images/SmartlingLogo-HC.png">
      </h1>
    </div>


    <form method="get" action="http://www.google.com/search">

      <input type="text" class="search-field"  name="q"
             maxlength="255" placeholder="Search Docs..." />
      <!--<input type="submit" value="Go" />-->
      <input type="hidden" name="sitesearch" value="smartlingtestdocs.github.io" /></td></tr>

    </form>

    {% include navigation.html context="/" %}

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
