<section id="{{SupportedFileType.smartling_identifier}}">
    <h2>{{SupportedFileType.file_type}}</h2>
    <table class="table">
        <tr>
            <td>Extension</td> <td>{{SupportedFileType.extension}}</td>
        </tr>
        <tr>
            <td>Smartling identifier</td> <td>{{SupportedFileType.smartling_identifier}}</td>
        </tr>
        <tr>
            <td>Example File</td> <td><a href="/public/Example-Files/{{SupportedFileType.download_sample}}">{{SupportedFileType.download_sample}}</a></td>
        </tr>
        <tr>
            <td>Resources</td> <td>{{SupportedFileType.resource_info}}</td>
        </tr>
    </table>

    {% if SupportedFileType.intro %}
    <p>{{SupportedFileType.intro}}</p>
    {% endif %}

    {% if SupportedFileType.keys_variants %}
    <h4>Keys/Variants</h4>
    <p>{{SupportedFileType.keys_variants}}</p>
    {% endif %}

    {% if SupportedFileType.string_instructions %}
    <h4>String Instructions</h4>
    <p>{{SupportedFileType.string_instructions}}</p>
    {% endif %}

    {% if SupportedFileType.other %}
    <h4>Other Information</h4>
    <p>{{SupportedFileType.other}}</p>
    {% endif %}

    {% if SupportedFileType.directives %}
    <div class="panel panel-default">
        <div class="panel-heading">

            <a data-toggle="collapse" class="collapsed" data-target="#collapse-{{SupportedFileType.smartling_identifier}}"
               href="#collapseOne">Directives</a>

        </div>
        <div class="panel-body collapse" id="collapse-{{SupportedFileType.smartling_identifier}}">
            <h4>Directive Format</h4>
                <pre><code>{{SupportedFileType.directive_format}}</code></pre>
                <p>{{SupportedFileType.directive_instructions}}</p>
        {% assign Directives = SupportedFileType.directives %}
        {% assign FileDirectives = site.data.FileDirectives%}
        {% for Directive in Directives %}
            {% for FileDirective in FileDirectives %}
                {% if FileDirective.Directive == Directive %}
                <h4 id="{{SupportedFileType.smartling_identifier}}_{{FileDirective.Directive}}">{{FileDirective.Directive}}</h4>
                <table class="table verticalHeaders">
                    <tr>
                        <th>Values:</th><td>{{FileDirective.Values}}</td>
                    </tr>
                    <tr>
                        <th>Description:</th><td>{{FileDirective.Description}}</td>
                    </tr>

                    {% if FileDirective.Examples %}
                    <tr>
                        <th>Examples:</th>
                        <td>
                            <div class="example">

                                {% for Example in FileDirective.Examples %}
                                <div>
                                    {% if SupportedFileType.smartling_identifier == 'json' %}
                                    <pre><code>{{Example.CodeJSON}}</code></pre>
                                    {% else %}
                                    <pre><code>{% unless Example.Block == 'yes' %}{{SupportedFileType.directive_prefix}}{% endunless %}{{Example.Code}}{% unless Example.Block == 'yes' %}{{SupportedFileType.directive_suffix}}{% endunless %}</code></pre>
                                    {% endif %}
                                </div>

                                <p class="small">{{Example.Description}}</p>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}

                </table>

                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
