<link rel="stylesheet" href="{{site.baseurl}}public/css/FAPIMethods.css">


    {% if Method.Parameters %}
        {% for Parameter in Method.Parameters%}
            <div class="parameter {% if Parameter.Required == "required" %}required{% else %}optional{% endif %}">
                <h4>{{Parameter.Name}} ({{Parameter.Required}})</h4>


                <p>{% if Parameter.Type %}<em>{{Parameter.Type}}</em> - {% endif %}{{Parameter.Description}}</p>

                {% if Parameter.Values.size > 0 %}
                <table class="table">
                {% for Value in Parameter.Values %}
                    <tr>
                        <th>{{Value.Value}} {% if Value.Default == 'YES' %}(default){% endif %}</th> <td>{{Value.Description}}</td>
                    </tr>
                {% endfor %}
                </table>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
