---
layout: default
---

<div class="page">
    <h1 class="page-title">{{ page.title }}</h1>

    {{ content }}

    <div class="panel panel-default">
        <div class="panel-heading">Parameters</div>
        <div class="panel-body">
            {% include FAPIMethodParameters.html %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Returns</div>
        <div class="panel-body">
            {% include FAPIReturns.html %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Examples</div>
        <div class="panel-body">
            {% include FAPICodeExamples.html %}
        </div>
    </div>

</div>
